* { 
    padding:0 ; 
    margin:0 ;
} 
body { 
    width:100vw ; 
    height: 100vh ; 
}

/* start header */
.header { 
    padding:15px; 
    display:flex; 
    justify-content: flex-end;
} 
.header a { 
    color:black;
    margin:10px; 
    text-decoration:none; 
    
} 
.header button { 
    background:blue; 
    color:white; 
    font-size:15px; 
    border:none; 
    font-weight:bold; 
    margin-top:8px; 

}
 a:hover { 
    text-decoration:underline; 
    color:#555;
}
/* end  header */ 
/* start main */ 
.main { text-align:center;}
.logo-img img { 
   margin-top:3%; 
   width:500px; 
   height:200px; 

 } 
 .search span  { 
   position:absolute; 
   right: 28%; 
   top:52%;
} 
.main .search { position:relative; }
.main .search  input[type="search"] { 
    margin-top:10px ;
    padding:16px; 
    width: 640px; 
    border : 1px solid rgb(212, 208, 208) ; 
    outline:none;
 border-radius:25px;
} 
.main .search  input[type="search"]:focus { 
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); 
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
  button { 
    background:rgb(240, 237, 237); 
    color:#555; 
    width:140px;
   height:38px; 
  margin-top:30px;
  font-size:15px;
   border:none; 
   outline:none;
   border-radius:6px;
}
button:hover { 
   border:1px solid #beb8b8;
} 
.main .submit input[type="submit"]:hover { 
     border : 1px solid rgb(212, 208, 208) ; 
}
.main p {
text-align:center; 
margin-top:30px; 
margin-bottom:97px; 
}
/* end main */ 
/* start footer */
.footer  { 
    background:rgb(240, 237, 237); 
    align-items:center; 
    display:flex; 
    justify-content:space-between; 
    
} 
.footer .left { 
    padding:15px;
 } 

.footer .left a { 
    color:#555; 
    padding:12px; 
    display:inline;
    text-decoration:none; 

} 
.footer .left a:hover { 
    text-decoration: underline;
}


/* end footer */